
/* Media Queries */

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    section#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #backgroundImg h1 {
        margin-top: 40px;
    }
    .userform button {
        display: block;
        width: 100%;
    }
    .userform input,
    .userform textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}


@media only screen and (max-width: 500px) {
    .landingBtn {
        text-align: center;
        width: 230px;
    }

    .userform{
        width: 100%;
    }

    .dark-admin-details{
        height: 3000px
    }

    .eye-icon i{
        margin-left: 10px;
    }

}


@media only screen and (max-width: 347px) {
    .eye-icon i{
        margin-left: 0px;
        padding: 0px;
    }
}


@media only screen and (min-width: 760px) and (max-width: 900px) {

    .dark-admin-details{
        height: 1200px
    }


    .flex-container > div {
        width: 225px;
        height: 210px;
        margin: 15px;
        color: white;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
}


@media only screen and (min-width:1024px) and (max-width:1366px){
    .dark-admin-details {
        height: 920px;
    }

    .userform input, textarea , select{
        width: 70%;
        padding: 13px 25px;
        margin: 8px 120px;
        display: inline-block;
        border: 1px solid#878b87;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 18px;
    }

    #buttonSubmit , #signupSubmit, #requestSubmit {
        width: 45%;
        background:  #f44336;
        color: #ffffff;
        padding: 14px 40px;
        border-radius: 10px;
        font-size: 18px;
        margin: 20px 200px;
        margin-top: 20px 0;
    }


    .flex-container > div {
        width: 420px;
        height: 230px;
        margin: 15px;
        color: white;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
}

@media only screen and (max-width:1297px){
    
    .flex-container > div {
        width: 402px;
        height: 230px;
        margin: 15px;
        color: white;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
}
